*{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #373737;
    margin-top: 20px;
    margin-bottom: 20px;
}
.navBar{
    display: flex;
    justify-content: center;
    justify-items: auto;
    color: #dcd0c0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

h2{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #c0b283;
    margin-top: 20px;
    margin-bottom: 20px;
}

.imagenes1 {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 175px;
    margin-right:100px;
    align-items: center;
}
.imagenes2 {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 175px;
    margin-right:100px;
    align-items: center;
}
.imagenes3 {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 175px;
    margin-right:100px;
    align-items: center;
}
.imagen:hover{
    transform: scale(1.5,1);
}
.imagen1{
    transition: all 4s;
}

.nosotros{
    margin-top: 150px;
}
h3{
    text-align: left;
     font-family: 'Montserrat', sans-serif;
     font-weight: bold;
     color: #c0b283;
     margin-top: 30px;
     margin-bottom: 20px;
   }
p{
     text-align: justify;
     color: #373737; 
     font-family: 'Montserrat', sans-serif;
     font-weight: 400;
     margin-top: 10px;
     margin-bottom: 10px;
  }
footer{
      margin-top: 100px;
      text-align: left;
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      color: #c0b283;
      height: 500px;
      background-color: #dcd0c0;
  }
.tarjeta1{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 100px;
    margin-right:100px;
    justify-content: space-around;
    align-items: center;

}
.tarjeta2{
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 100px;
    margin-right:100px;
    justify-content: space-around;
    align-items: center;
  
}

@media (orientation: portrait){
    .imagen1{
        display:flex;
        align-items: center;
        align-content: center;
    }
    }
    

@media (orientation: portrait){
    footer{
        display: flex; 
        flex-direction: column;
        height: 1000px;
        background-color: #dcd0c0;
    }
    }

